@model StudentGradingSystem.Models.Questionnaire

@{
    ViewData["Title"] = "Fill";
}

<h2>Fill</h2>

<div>
    <h4>Questionnaire</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div>
    <!-- different way (anchor html tags)
    <a href = "/Course/Grade"> </a> -->

    <a asp-controller="Course" asp-action="Grade">Back to List</a>
</div>
